*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
}
header {
    background-color: #183e6b;
}
.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 15px 30px; 
}

.logo {
 max-width: 20%;
}

.logo img {
    width: 100%;
}

.pages ul{
      display: flex;
     justify-content: space-between;
}


.pages  {
    font-size: 20px;
    width: 35%;
}


 ul li a {
    color: white;
    text-decoration: none;
    
}

li{
    list-style-type: none;
}

.button a  {
    color: white;
    text-decoration: none;
}
.btn {
    background-color: #39c5f3;
    padding: 15px;
    border-radius: 4px;
}